html, body {
    min-height: 250vh;
}
/* Navbar */
.blue-bg {
    background-color: transparent;
    box-shadow: none;
}

.top-nav-collapse {
    background-color: blue;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
/* Carousel */
#fullScreenCarousel img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

h2{
    text-align: center;
}
